@model IEnumerable<ProdutosModel> // Pegando os dados da tabela " Produtos "

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Cadastro de Produtos</h1>
        <a class="btn btn-success mx-2" asp-controller="Produtos" asp-action="Cadastrar"><i class="bi bi-file-earmark-plus mx-2"></i>Cadastrar novo produto</a>
    </div>

<table class="table table-light table-hover mt-5">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null) // Verifica se é nulo, caso não ele cria uma linha com 4 colunas.
        {
            @foreach(var produtos in Model)
            {
                <tr>
                    <th scope="row">@produtos.Nome</th>
                    <td>@produtos.Descricao</td>
                    <td>@produtos.Preco</td>
                    <td>@produtos.Categoria</td>
                    <td>
                            <a asp-controller="Produtos" asp-action="Editar" asp-route-id="@produtos.Id" class="btn btn-warning mx-2"><i class="bi bi-pencil-square mx-2"></i>Editar</a>
                            <a asp-controller="Produtos" asp-action="Excluir" asp-route-id="@produtos.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3-fill mx-2"></i>Excluir</a>
                    </td>
                </tr>
            }     
        }
    </tbody> 
</table>
</div>